@page "/readers/create"
@using Microsoft.EntityFrameworkCore
@using Blazor_lab1.Data
@inject IDbContextFactory<Blazor_lab1.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Добавление</PageTitle>

<h1>Добавления читателя</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Reader" OnValidSubmit="AddReader" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="lastname" class="form-label">Фамилия:</label> 
                <InputText id="lastname" @bind-Value="Reader.LastName" class="form-control" /> 
                <ValidationMessage For="() => Reader.LastName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="firstname" class="form-label">Имя:</label> 
                <InputText id="firstname" @bind-Value="Reader.FirstName" class="form-control" /> 
                <ValidationMessage For="() => Reader.FirstName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="middlename" class="form-label">Отчество:</label> 
                <InputText id="middlename" @bind-Value="Reader.MiddleName" class="form-control" /> 
                <ValidationMessage For="() => Reader.MiddleName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="birthdate" class="form-label">Дата рождения:</label> 
                <InputDate id="birthdate" @bind-Value="Reader.BirthDate" class="form-control" /> 
                <ValidationMessage For="() => Reader.BirthDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="address" class="form-label">Адрес:</label> 
                <InputText id="address" @bind-Value="Reader.Address" class="form-control" /> 
                <ValidationMessage For="() => Reader.Address" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="phone" class="form-label">Телефон:</label> 
                <InputText id="phone" @bind-Value="Reader.Phone" class="form-control" /> 
                <ValidationMessage For="() => Reader.Phone" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Добавить</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/readers">К списку читателей</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Reader Reader { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddReader()
    {
        using var context = DbFactory.CreateDbContext();
        context.Reader.Add(Reader);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/readers");
    }
}
